extends layout

block content
  script.
    $(function () {
      $('#date').datetimepicker({
        format: 'L'
      })
      $('#time').datetimepicker({
        format: 'LT'
      })
    })
    // triggers asking the browser for the current position
    function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(findNearestDoctor);
      }
    }
    // Calc the distance between two sets of coords
    function distance(lat1, lon1, lat2, lon2) {
      var radlat1 = Math.PI * lat1/180
      var radlat2 = Math.PI * lat2/180
      var theta = lon1-lon2
      var radtheta = Math.PI * theta/180
      var dist = Math.sin(radlat1) * Math.sin(radlat2) + Math.cos(radlat1) * Math.cos(radlat2) * Math.cos(radtheta);
      if (dist > 1) {
        dist = 1;
      }
      dist = Math.acos(dist)
      dist = dist * 180/Math.PI
      dist = dist * 60 * 1.1515
      return dist
    }
    // finds the nearest doctor from the position
    function findNearestDoctor(position) {
      let nearestDoctorId = null
      let nearestDoctorDist = null
      $("#doctor > option").each(function() {
        let lat = $(this).data('latitude')
        let long = $(this).data('longitude')

        if (lat !== undefined && long !== undefined) {
          let dist = distance(position.coords.latitude, position.coords.longitude, lat, long)

          if(nearestDoctorDist===null || dist < nearestDoctorDist) {
            nearestDoctorId = this.value
            nearestDoctorDist = dist
          }
        }
      })
      $("#doctor").val(nearestDoctorId)
    }
  -data = data || {}

  if errors
    for error in errors
      div(class="alert alert-danger" role="alert")= error.msg
  form(action="." method="POST")

    div(class="form-group")
      label(for="doctor") Doctor:
      div(class="input-group flex-nowrap")
        select(
          id="doctor"
          name="doctor"
          class="form-control"
          value=data.doctor
          required="required"
        )
          option='Please select a Doctor'
          each doctor in doctors
            option(
              value=doctor.id
              data-latitude=doctor.latitude
              data-longitude=doctor.longitude
            )=doctor.name + ' - ' + doctor.address
        div(class="input-group-append")
          button(
            class="btn btn-primary"
            type="button"
            id="geosearch"
            onclick="getLocation()"
          )
            i(class= "fas fa-location-arrow")

    div(class="form-group")
      label(for="name") Name:
      input(
        type="text"
        id="name"
        name="name"
        class="form-control"
        value=data.name
        required="required"
      )

    div(class="form-group")
      label(for="email") Email:
      input(
        type="email"
        id="email"
        name="email"
        class="form-control"
        value=data.email
        required="required"
      )

    div(class="form-row")
      div(class="form-group col-md-6 date")
        label(for="date") Date:
        input(
          type="text"
          id="date"
          name="date"
          class="form-control"
          value=data.date
          required="required"
        )
      div(class="form-group col-md-6 date")
        label(for="time") Time:
        input(
          type="text"
          id="time"
          name="time"
          class="form-control"
          value=data.time
          required="required"
        )

    input(class="btn btn-primary" type="submit" value="Submit")